<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars List</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<h1>Cars List</h1>

<div class="table-container">
    <table border="1">
        <thead>
        <tr>
            <th>Car Number</th>
            <th>Model</th>
            <th>Color</th>
            <th>Production Year</th>
            <th>Category</th>
            <th>Max Passengers</th>
            <th>Kilometer Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.carNumber}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.productionYear}"></td>
            <td th:text="${car.categoryName}"></td>
            <td th:text="${car.maxPassengersNumber}"></td>
            <td th:text="${car.kilometerPrice}"></td>
            <td>
                <a th:href="@{/cars/edit/{carNumber}(carNumber=${car.carNumber})}">Edit</a> |
                <a th:href="@{/cars/delete/{carNumber}(carNumber=${car.carNumber})}"
                   onclick="return confirm('Are you sure you want to delete this car?');">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
