<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Order List</title>
  <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<h1>Order List</h1>
<div class="table-container">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Address From</th>
      <th>Address To</th>
      <th>Price</th>
      <th>Order Status</th>
      <th>Driver</th>
      <th>Passenger</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
      <td th:text="${order.id}"></td>
      <td th:text="${order.adressFrom}"></td>
      <td th:text="${order.adressTo}"></td>
      <td th:text="${order.price}"></td>
      <td th:text="${order.orderState}"></td>
      <td th:text="${order.driver.firstName} + ' ' + ${order.driver.lastName}"></td>
      <td th:text="${order.passenger.firstName} + ' ' + ${order.passenger.lastName}"></td>
      <td th:text="${order.description}"></td>
      <td>
        <a th:href="@{/orders/edit/{id}(id=${order.id})}">Edit</a> |
        <a th:href="@{/orders/delete/{id}(id=${order.id})}"
           onclick="return confirm('Are you sure you want to delete this order?');">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
